.map_control{
	border: solid 1px #E1E8F0;
	width:510px;
	background-color: #E1E8F0;
	padding-top:8px;
	padding-bottom:8px;
}

.map_control a {
	width: 50px;
	height: 20px;
	border: solid 1px #C2C9D7;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	text-align: center;
}
.button_normal{
	width: 50px;
	height: 20px;
	border: solid 1px #C2C9D7;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	text-align: center;
	color: #212121;
}
.button_hht{
	width: 50px;
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #C2C9D7;
	background-color: #6D8ACC;
	text-align: center;	
	color: #FFFFFF;
}

.map_control a:hover {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #C2C9D7;
	color: #FFFFFF;
	background-color: #6D8ACC;
	text-align: center;
}

.map_view{
	height:400px;
    width: 60%;
	border: solid 1px #E1E8F0;
	padding: 5px 5px 5px 5px;
    display: inline-block;
}
.collection_info_div{
    float: right;
    width: 35%;
    border: solid 1px #E1E8F0;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}

.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

