.map_control{
	border: solid 1px #E1E8F0;
	width:510px;
	background-color: #E1E8F0;
	padding-top:8px;
	padding-bottom:8px;
}

.map_control a {
	width: 50px;
	height: 20px;
	border: solid 1px #C2C9D7;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	text-align: center;
}
.button_normal{
	width: 50px;
	height: 20px;
	border: solid 1px #C2C9D7;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	text-align: center;
	color: #212121;
}
.button_hht{
	width: 50px;
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #C2C9D7;
	background-color: #6D8ACC;
	text-align: center;
	color: #FFFFFF;
}

.map_control a:hover {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #C2C9D7;
	color: #FFFFFF;
	background-color: #6D8ACC;
	text-align: center;
}

.main_map{
	width:500px;
	height:360px;
	border: solid 1px #E1E8F0;
	padding: 5px 5px 5px 5px;
}
