body {
    font: 400 12px/22px "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", Helvetica, Arial, Verdana, sans-serif;
    color: #000000;
    min-width: 1024px;
    margin: 0 auto;
}

/** ==== Common  Input Field ==== **/
img {
    border: none;
}

.image_position {
    vertical-align: middle;
    align: top;
    vspace: 4;
    border: 0;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

a {
    color: #003766;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comments {
    font-size: 11px;
    color: #909090;
}

.hints_panel {
    color: #726E4C;
    padding: 10px;
    /** border: solid 2px #F2F2F2;
  -moz-border-radius: 5px;
  border-radius: 5px; **/
    margin: 5px;
    font-style: italic;
}

.inline_span {
    color: #909090;
    font-size: 11px;
}

.inline_span a:hover {
    text-decoration: underline;
}

.span_number {
    color: green;
    font-weight: bold;
}

input {
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 200px;
    font-size: 12px;
    text-align: left;
}

.check_box {
    line-height: 14px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 25px;
}

.input_file {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    width: 400px;
    font-size: 12px;
    border: 1px solid #F2F2F2;
}

.input_field_smaller {;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 100px;
    font-size: 11px;
}

.input_textarea {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    font-size: 12px;
}

.input_select_field {
    height: 25px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
}

.input_select_small {
    height: 20px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
}

.input_select_normal {
    height: 20px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
}

.input_button_div {
    margin-left: 15px;
    margin-right: auto
}

.input_button_style {
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    color: #3a4c66;
    width: 70px;
    height: 22px;
    padding-bottom: 2px;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
}

.input_button_normal {
    width: 85px;
    border: solid 1px #E1E8F0;
    font-size: 11px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
}

.input_button_normal:hover {
    border: solid 1px #E1E8F0;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.input_button_sm {
    width: 60px;
    border: solid 1px #E1E8F0;
    font-size: 11px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
}

.input_button_sm:hover {
    border: solid 1px #E1E8F0;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.stage_pane_div {
    font-size: 12px;
}

/** ==== END of Common Table Input Frield ==== **/

/** ==== Logo and Menu Section ==== **/
.site_top {
    min-width: 1354px;
}

.site_top_left {
    float: left;
    margin-left: 165px;
    display: inline-block;
    height: 95px;
}

.menu_text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.site_top_right {
    float: right;
    margin-right: 165px;
    display: inline-block;
    height: 95px;
}

.right_logo {
    display: inline-block;
    margin-right: 20px;
}

.right_login {
    margin-top: 60px;
    display: inline-block;
    margin-right: 100px;
}

.menu_logo_right {
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

.right_login a {
    float: right;
    width: 60px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
    text-decoration: none;
}

.right_login a:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 25px;
}

/** ==== END OF Logo and Menu Section ==== **/

/** ==== OzFlux Nav Bar ==== **/
.ozfux_nav_div {
    background: #003766;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
}

.ozfux_nav {
    margin-left: 165px;
    margin-right: 165px;
}

.ozfux_nav ul ul {
    display: none;
}

.ozfux_nav ul li:hover > ul {
    display: block;
}

.ozfux_nav ul {
    list-style-type: none;
    position: relative;
    z-index: 100;
}

.ozfux_nav ul:after {
    clear: both;
    content: "";
    display: block;
}

.ozfux_nav ul li {
    float: left;
}

.ozfux_nav ul li:hover {
    text-decoration: none;
    background-color: #006377;
}

.ozfux_nav ul li:hover a {
    color: #FFFFFF;
}

.ozfux_nav ul li a {
    width: 120px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.ozfux_nav ul ul {
    background: #004958;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 100%;
}

.ozfux_nav ul ul li {
    border-bottom-color: #43475d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    float: none;
    position: relative;
}

.ozfux_nav ul ul li a {
    color: #FFFFFF;
    width: 120px;
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.ozfux_nav ul ul li a:hover {
    text-decoration: none;
    background-color: #002830;
}

.ozfux_nav ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

/** ==== End of OzFlux Menu ==== **/

/** ==== Error Section  ==== **/
.error_msg_section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.actionError {
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: auto;
    margin-top: 2px;
    color: #b24f3c;
    border-collapse: collapse;
    font-weight: normal;
    text-align: left;
}

.fieldError {
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: auto;
    margin-top: 2px;
    color: #b24f3c;
    border-collapse: collapse;
    font-weight: normal;
    text-align: left;
}

/** ==== END of Error Section ==== **/

/** ==== Action Message ==== **/
.action_msg_section {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
}

.actionMessage {
    padding: 10px;
    color: #58553a;
}

/** ==== Redirect Panel ==== **/
.redirect_span {
    color: #000000;
}

.redirect_pane {
    color: #58553a;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

/** ==== End of Redie

/** === START OF Main Body Section ==== **/
.main_body_container {
    margin-left: 165px;
    margin-right: 165px;
    min-width: 1024px;
    border: solid 1px #C0C7D5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.display_middel_div {
    margin: 5px;
}

.left_display_div {
    width: 78%;
    display: inline-block;
}

.left_display_inner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right_display_div {
    float: right;
    width: 20%;
    min-width: 200px;
    display: inline-block;
}

/** ==== Registration ==== **/
.reg_panel {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
}

.reg_middle_panel {
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 10px;
}

.reg_options_middle {
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

.reg_choices {
    width: 240px;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    text-align: left;
}

.reg_choices img {
    margin-left: 5px;
    padding-right: 3px;
    vertical-align: bottom;
}

.reg_choices strong {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #505050;
}

.reg_choices a {
    color: #505050;
    text-decoration: none;
    padding-bottom: 6px;
}

.reg_choices a:hover {
    text-decoration: underline;
}

.content_title {
    padding-left: 10px;
    font-weight: bold;
}

.content_div {
    margin: 5px;
    border: solid 1px #f2f2f2;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content_none_border_div {
    margin: 5px;
}

.file_uploading_div {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.content_act_div {
    float: right;
    margin-right: 20px;
    padding: 5px;
}

.content_act_div a {
    margin-left: 10px;
    font-size: 11px;
}

.content_form_act {
    display: inline-block;
}

.content_ul {
    color: #726E4C;
}

.content_ul li {
    margin-top: 5px;
}

.span_inline1 {
    display: inline;
    color: #0E774A;
    margin-right: 5px;
}

.span_inline2 {
    display: inline;
    color: #000000;
    padding-left: 5px;
}

.placeholder_div {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #726E4C;
}

.empty_space_div {
    height: 100px;
}

.input_field_row {
    padding: 5px;
    color: #000000;
}

.input_field_title {
    display: block;
    float: left;
    width: 160px;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
}

.input_field_value_section {
    padding-left: 5px;
    margin-left: 170px;
    text-align: left;
}

.captch_div {
    display: inline-block;
}

.captch_div a {
    text-decoration: none;
    font-size: 11px;
    color: #909090;
}

.captch_div img {
    margin-top: 10px;
    vertical-align: bottom;
    vspace: 5;
    border: 0;
}

/** ==== Sub Nav ==== */
/** TO BE REMOVED **/
.user_id {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/** TO BE REMOVED **/
.user_avatar {
    padding: 10px;
    text-align: center;
}

.user_avatar_div {
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    width: 210px;
    float: right;
}

.user_info_div {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    width: 210px;
}

.user_details_left {
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    width: 200px;
    float: left;
}

.user_details_right {
    padding: 10px;
    margin-left: 230px;
    margin-right: 5px;
}

.uploaded_image {
    padding: 10px;
}

.crop_image_div {
    margin-left: 30px;
}

.upload_crop_image {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

/** ==== sub nav ====**/
.sub_nav_div {
    float: right;
    padding: 5px;
    margin-right: 5px;
}

.sub_nav_div ul {
    padding: 0;
    list-style-type: none;
    font-family: arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.sub_nav_div li {
    text-align: center;
}

.sub_nav_div a {
    display: block;
    color: #fff;
    padding: 4px 4px;
    width: 200px;
    background-color: #003766;
    text-decoration: none;
    border-bottom: solid 1px #858585;
    margin: 0 auto;
}

.sub_nav_div a:hover {
    display: block;
    color: #fff;
    padding: 4px 4px;
    background-color: #006377;
    text-decoration: none;
    margin: 0 auto;
}

/** ==== colllection ====**/
.data_display_div {
    border: solid 1px #e9f1f9;
    padding: 5px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    margin: 5px;
}

.data_title {
    color: #003766;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.data_title a {
    text-align: left;
    color: #003766;
}

.data_tern_div {
    margin-left: 5px;
    margin-right: 5px;
    color: #5d5a3e;
    font-size: 11px;
}

.data_desc_div {
    color: #3a4c66;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.data_other_info {
    margin-left: 5px;
    margin-right: 5px;
}

.data_action_link {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.data_action_link a {
    min-width: 82px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
    text-decoration: none;
    border: solid 1px #E1E8F0;
    font-size: 11px;
}

.data_action_link a:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
}

.data_action_link2 {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.data_action_link2 a {
    min-width: 105px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
    text-decoration: none;
    border: solid 1px #E1E8F0;
    font-size: 11px;
}

.data_action_link2 a:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
}

/** ==== End of collection ====**/

/** TO DO: Remove **/

.sub_nav_container {
    float: right;
    padding: 5px;
    margin: auto;
}

.sub_nav_container ul {
    padding: 0;
    list-style-type: none;
    font-family: arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.sub_nav_container li {
    border-bottom: solid 1px #858585;
    text-align: center;
}

.sub_nav_container a {
    display: block;
    color: #fff;
    padding: 4px 4px;
    width: 160px;
    background-color: #003766;
    text-decoration: none;
    border: solid 1px #003766;
    margin: 0 auto;
}

.sub_nav_container a:hover {
    display: block;
    color: #fff;
    padding: 4px 4px;
    background-color: #006377;
    text-decoration: none;
    border: solid 1px #006377;
    margin: 0 auto;
}

/** End of TO DO: Remove **/

.bottom_line_center_block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e1e8f0;
    text-align: center;
}

.none_border_block {
    margin-left: auto;
    margin-bottom: 3px;
    margin-right: auto;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.filter_inline_span {
    color: #909090;
    font-size: 11px;
}

.display_data_tab {
    width: 100%;
    text-align: left;
    border: solid 1px #E1E8F0;
    border-collapse: collapse;
}

.display_data_tab th {
    background-color: #EFF2F7;
    border-bottom: solid 1px #E1E8F0;
    border-right: solid 1px #E1E8F0;
    padding: 5px;
}

.display_data_tab td {
    border-bottom: solid 1px #E1E8F0;
    border-right: solid 1px #E1E8F0;
    padding: 5px;
    font-size: 11px;
}

.tab_link {
    text-align: center;
}

.tab_link a {
    width: 60px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
    text-decoration: none;
    border: solid 1px #E1E8F0;
}

.tab_link a:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 22px;
    line-height: 22px;
}

.status_field_name_div {
    color: #666666;
    font-size: 11px;
    display: inline;
    margin-right: 10px;
}

.status_field_value_div {
    display: inline;
    color: #c5a463;
    font-size: 11px;
}

/** TODO: removed **/
.tab_div {
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tab_div a {
    width: 60px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #003766;
}

.tab_div a:hover {

    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

/** End of  TODO: removed **/

.name_title {
    display: block;
    font-weight: bold;
    color: #003766;
}

/** successful Message ====**/
.pane {
    background: #EFF2F7;
    position: relative;
    margin: 5px auto;
    border: solid 1px #EFF2F7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #726E4C;
}

.pane .delete {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

/** pagination **/
.page_style {
    margin: 5px auto;
    padding: 3px;
    text-align: center;
}

.total {
    border: solid 1px #c2c9d7;
    padding: 2px 5px;
    margin: 2px;
    color: #7d7d7d;
    font-weight: normal;
    text-decoration: none;
}

.page_style a {
    border: solid 1px #c2c9d7;
    padding: 2px 5px;
    margin: 2px;
    color: #3a4c66;
    font-weight: normal;
    text-decoration: none;
}

.page_style a:hover {
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
}

.page_style a:active {
    border: solid 1px #999;
    color: #666;
}

.page_style .current {
    border: solid 1px #036cb4;
    padding: 2px 5px;
    font-weight: bold;
    margin: 2px;
    color: #3A4C66;
    background: #DCDCDC;
}

.page_style .disabled {
    border: solid 1px #eee;
    padding: 2px 5px;
    margin: 2px;
    color: #ddd;
}

/** UL **/
#toc {
    margin-bottom: 15px;
    font-size: 14px;
}

#toc li {
    margin-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

#toc_small {
    list-style-type: circle;
    font-size: 12px;
}

#toc_small li {
    margin-top: 10px;
    margin-right: 15px;
}

#toc_num {
    list-style-type: decimal;
    font-size: 12px;
}

#toc_num li {
    margin-top: 10px;
    margin-right: 15px;
}

.sub_b_title {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 14px;
}

.sub_norm_title {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-style: italic;
}

.paragraph_div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

.paragraph_italic_div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
    text-align: justify;
}

.tr_highlight {
    background-color: #f3f3f3;
}

.table_ds_data {
    text-align: left;
    border: solid 1px #E1E8F0;
    border-collapse: collapse;
}

.table_ds_data td {
    border: solid 1px #E1E8F0;
    padding: 2px 10px 2px 10px;
}

.ds_tr_bg_hig td {
    background-color: #F5F5F5;
    height: 16px;
    line-height: 16px;
}

.ds_var_td td {
    background-color: #F5F5F5;
    border-right: solid 1px #F5F5F5;
    border-left: solid 1px #F5F5F5;
    border-top: solid 1px #E1E8F0;
}

.var_td td {
    color: #7e7e7e;
}

.ds_div_border_block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
}

.div_grey_section {
    color: #909090;
    text-align: justify;
    padding: 5px;
}

/**   ========= End of Refactored CSS ====== **/

.reg_field {
    /**font-size: 11px;
     color: #3a4c66;**/
    margin-left: 20px;
}

.reg_comment {
    font-size: 11px;
    color: #909090;
    width: 320px;
}

.reg_comment a {
    text-decoration: none;
    font-size: 11px;
    color: #909090;
}

.title_panel {
    /**background: url("../images/title_bg.gif") repeat scroll 0 0 transparent;**/
    height: 25px;
    line-height: 25px;
    margin-left: 165px;
    margin-right: 165px;
    min-width: 1024px;
}

.title_panel_img {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.title_panel_text {
    /**font-size: 11px;
     color: #3a4c66;**/
    font-weight: bold;
}

.p_title {
    /**background:none repeat scroll 0 0 #F5F5F5;*/
    background: none repeat scroll 0 0 #eff2f7;
    color: #313131;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
}

.p_title2 {
    /**background:none repeat scroll 0 0 #F5F5F5;*/
    background: none repeat scroll 0 0 #eff2f7;
    color: #313131;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    text-align: left;
}

.p_title3 {
    /**background:none repeat scroll 0 0 #F5F5F5;*/
    background: none repeat scroll 0 0 #eff2f7;
    color: #212121;
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    font-family: Arial, Verdana, sans-serif;
    padding-left: 10px;
}

.perm_delim {
    background: none repeat scroll 0 0 #eff2f7;
}

.div_inline {
    display: inline;
    float: left;
    margin-right: 5px;
    line-height: 25px;
    text-decoration: none;
    color: #989eab;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
}

.div_inline a:link, .div_inline a:visited {
    text-decoration: none;
    color: #4d5a6d;
}

.div_inline img {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 6px;
}

.div_inline2 {
    display: inline;
    float: left;
    margin-right: 5px;
    line-height: 20px;
    text-decoration: none;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
}

.div_inline2 img {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
}

/** === END of Title Panel === **/
/** === START of Error Setction ==== **/

.error_msg_div {
    width: 650px;
    /** background: #f4f7fb; **/
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 10px;
    /** border: solid 1px #e1e8f0;**/
    padding: 5px;
}

.pop_pane {
    color: #c96b2f;
    background: #f4f7fb;
    position: relative;
    margin: 0 auto;
    border: solid 1px #c0c7d5;
}

.pop_pane .delete {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

/**End of successful message ====**
/** ==== START of Registration Section ==== **/
.reg_options_div {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 5px;
    border: solid 1px #E1E8F0;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.use_policy_outer {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 5px;
    border: solid 1px #E1E8F0;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.use_policy {
    display: block;
    text-align: justify;
    font-size: 12px;
    color: #858585;
    margin: 10px;
    padding: 10px;
}

.use_policy a {
    color: #003766;
    text-decoration: none;
}

.sponsor_link {
    float: left;
    width: 80px;
}

.ands_sponsor {
    padding-top: 5px;
    text-align: justify;
    margin-left: 100px;
    color: #858585;
}

.ands_sponsor a {
    color: #003766;
    text-decoration: none;
}

/**
.div_options_inline {
    display: inline;
    float: left;
    margin-right: 5px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
}

.div_options_inline a:link,.div_options_inline a:visited {
    text-decoration: none;
    color: #003766;
}

.div_options_inline img {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
}
**/

.name_field {
    /**font-size: 11px;
     color: #3a4c66;**/
    margin-left: 20px;
    width: 120px;
}

.name_comment {
    font-size: 11px;
    color: #909090;
}

.name_small_comment {
    font-size: 11px;
    color: #909090;
}

.name_comment a {
    text-decoration: none;
    font-size: 11px;
    color: #909090;
}

.name_line_comment {
    font-size: 11px;
    color: #909090;
}

.grey_line_div {
    color: #808080;
}

/** ==== END of Registration Section ==== **/
.indicator_msg {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #3a4c66;
    border-collapse: collapse;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.inline_span_justify {
    color: #3a4c66;
    font-size: 11px;
    text-align: justify;
}

.warn_msg_span {
    color: #a86635;
    font-size: 11px;
}

.inline_span2 {
    color: #0E774A;
    font-size: 11px;
}

.status_name_div {
    color: #666666;
    font-size: 11px;
    display: inline;
}

.status_value_div {
    display: inline;
    color: #c5a463;
    font-size: 11px;
}

.status_tname_div {
    color: #666666;
    font-size: 11px;
    display: inline;
}

.status_tvalue_div {
    display: inline;
    color: #c5a463;
    font-size: 11px;
}

.inline_small_span {
    font-size: 11px;
    float: right;
    margin-right: 200px;
}

.line_comments {
    font-size: 11px;
    color: #909090;
}

.inline_td_div {
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}

.inline_td_div a {
    width: 50px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #003766;
}

.inline_td_div a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.stage_div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.stage_div a {
    width: 50px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #003766;
}

.stage_div a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.label_title {
    color: #3a4c66;
    font-weight: normal;
}

.home_left_panel {
    float: left;
    width: 280px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

/**slid show */
.slidshow_frame {
    padding: 10px;
}

.home_right_panel {
    padding: 10px;
    margin-left: 320px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.home_right_panel p {
    margin-top: 5px;
}

.paragraph_title {
    background: none repeat scroll 0 0 #eff2f7;
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
}

.page_fixed_div {
    width: 978px;
    margin: 0 auto;
}

.main_body_big_left_panel {
    width: 978px;
    border-left: solid 1px #c0c7d5;
    border-right: solid 1px #c0c7d5;
    border-bottom: solid 1px #c0c7d5;
    float: left;
}

.main_big_border {
    width: 978px;
    border-left: solid 1px #c0c7d5;
    border-right: solid 1px #c0c7d5;
    border-bottom: solid 1px #c0c7d5;
}

.main_install_head {
    color: #003766;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.main_install_Finished {
    color: #003766;
    font-size: 12px;
    text-align: center;
}

.main_install_border {
    width: 90%;
    border: solid 1px #EFF2F7;
    position: relative;
    margin: 0 auto;
}

.install_none_border {
    text-align: center;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.main_install_inner {
    margin-left: 10px;;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    /**border: solid 1px #e1e8f0;*/
}

.install_input_field {
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 300px;
    font-size: 12px;
}

.none_boder_left_container {
    width: 800px;
    float: left;
}

.left_container_panel {
    width: 800px;
    border-right: solid 1px #c0c7d5;
    float: left;
}

.left_middle_panel {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    /*border: solid 1px #c0c7d5;*/
    border: solid 1px #e1e8f0;
    width: 760px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;

}

.left_inner_panel {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    padding: 2px;
}

.left_middle_no_border_panel {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    width: 770px;
}

.blank_separator {
    margin: 0 auto;
    width: 100%;
    height: 4px;
}

.blank_big_separator {
    margin: 0 auto;
    width: 100%;
    height: 8px;
}

/**   === create collection === */
.block_section {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: dotted 1px #e1e8f0;
    border-bottom: dotted 1px #e1e8f0;
    text-align: center;
}

.solid_block_section {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #e1e8f0;
}

.solid_center_block {
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #e1e8f0;
    text-align: center;
}

.div_fixed_block {
    margin-top: 10px;
    float: left;
    width: 700px;
}

.single_line_center_block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e1e8f0;
    width: 760px;
    text-align: center;
}

.single_border_block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    border: dotted 1px #e1e8f0;
    text-align: center;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.border_div_block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    border: dotted 1px #e1e8f0;
    text-align: center;
}

.solid_border_block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #e1e8f0;
    text-align: center;
}

.bottom_sborder_block {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    border-bottom: solid 1px #e1e8f0;
    text-align: center;
}

.none_border_block2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    text-align: center;
}

.none_border_block3 {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px;
    text-align: center;
}

.dotted_border_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 5px;
    border: dotted 1px #e1e8f0;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.non_border_div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 5px;
}

.bgcolor_none_border_div {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #003766;
}

.bottom_border_block {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    border-bottom: dotted 1px #e1e8f0;
    text-align: center;
}

.dot_bottom_border_block {
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: dotted 1px #e1e8f0;
    text-align: center;
    height: 2px;
}

.single_border_empty_block {
    margin: 15px;
    padding: 5px;
    border: dotted 1px #e1e8f0;
    text-align: center;
}

.none_border_space_block {
    mmargin: 15px;
    padding: 5px;
    text-align: center;
    height: 200px;
}

.none_border_space_small {
    mmargin: 15px;
    padding: 5px;
    text-align: center;
    height: 100px;
}

.none_border_block a {
    width: 50px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
}

.none_border_block a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

/** For display the records from database*/
.record_data {
    display: inline;
    float: left;
    width: 740px;
    border: dotted 1px #e1e8f0;
    padding: 10px 2px 10px 2px;
    margin-left: 5px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.record_data2 {
    display: inline;
    float: left;
    width: 705px;
    border: dotted 1px #e1e8f0;
    padding: 5px 2px 5px 2px;
    margin-left: 2px;
}

.record_data_link {
    margin-left: 2px;
    margin-right: 4px;
}

.record_data_link a {
    font-weight: bold;
    text-align: left;
    color: #003766;
}

.record_data_link2 {
    float: right;
    margin-left: 2px;
    margin-right: 4px;
}

.record_data_link2 a {
    width: 50px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #3a4c66;
}

.record_data_link2 a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.record_data_inline {
    color: #3a4c66;
    font-size: 11px;
    text-align: justify;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.record_data_inline2 {
    color: #0E774A;
    font-size: 11px;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.record_data_img {
    display: inline;
    float: left;
    padding-top: 5px;
}

.record_data_img2 {
    display: inline;
    float: left;
    padding-top: 10px;
}

.table_col {
    text-align: left;
    width: 100%;
}

.collection_tab {
    width: 100%;
}

.collection_tab tr {
    height: 35px;
}

.table_data {
    width: 100%;
    text-align: left;
    border: solid 1px #E1E8F0;
    border-collapse: collapse;
}

.table_data td {
    border-bottom: solid 1px #E1E8F0;
    border-right: solid 1px #E1E8F0;
    padding: 3px 5px 4px 10px;
}

.no_bd_tab_data {
    width: 100%;
    text-align: left;
}

.no_bd_tab_data td {
    height: 16px;
    line-height: 16px;
    padding: 2px;
}

.bg_grey_tr td {
    background-color: #EFF2F7;
    height: 16px;
    line-height: 16px;
}

.tr_normal {
    background-color: #fff;
}

.tr_small {
    background-color: #fff;
    font-size: 11px;
    color: #808080;
}

/** === create collection === */
.block_section a {
    text-decoration: none;
}

/** right panel **/

.inline_small_div {
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}

.inline_small_div a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    color: #003766;
}

.inline_small_div a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    background-color: #006377;
    text-align: center;
    font-size: 11px;
}

/** ==== user nav ===*/

.right_container_panel {
    width: 166px;
    float: right;
    margin-right: 5px;
}

.right_separator {
    width: 155px;
    height: 10px;
    border-top: solid 1px #e1e8f0;
    border-bottom: solid 1px #e1e8f0;
    background-color: #e1e8f0;
}

.right_block_section {
    margin: 0 auto;
    width: 155px;
    border-top: solid 1px #e1e8f0;
    border-left: solid 1px #e1e8f0;
    /*border-bottom: solid 1px #c0c7d5;*/
    border-right: solid 1px #e1e8f0;
}

.grey_font_span {
    font-size: 12px;
    color: #909090;
    margin-bottom: 4px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

.page_login_msg {

}

.perm_req_left {
    float: left;
    width: 320px;
}

.perm_req_right {
    float: right;
    width: 400px;
}

.search_inline_div a:link, .search_inline_div a:visited {
    text-decoration: none;
    color: #003766;
}

.search_inline_div img {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
}

.search_inline_div {
    display: inline;
    margin-right: 5px;
    line-height: 25px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, sans-serif;
}

.search_border_block {
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: dotted 1px #e1e8f0;
    text-align: center;
}

.search_tab {
    text-align: left;
    border: solid 1px #E1E8F0;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.search_tab td {
    border-bottom: solid 1px #E1E8F0;
    border-right: solid 1px #E1E8F0;
    padding: 2px;
}

.search_tab input {
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 120px;
    font-size: 11px;
}

.search_inner_tab select {
    height: 20px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
}

.search_inner_tab {
    border: 1px solid #fff;
    width: 100%;
    text-align: left;
    /**border-collapse: collapse;**/
}

.search_inner_tab td {
    border: solid 1px #fff;
}

.lightbg_td {
    background-color: #F9F9F9;
    text-align: center;
    height: 15px;
}

.search_data {
    display: inline;
    float: left;
    width: 720px;
    border: dotted 1px #e1e8f0;
    padding: 10px 2px 10px 2px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
}

.ands_blue {
    display: block;
    color: #1A2236;
    font-size: 11px;
    margin-top: 2px;
    padding: 2px;
}

.ands_gray {
    display: block;
    color: #909090;
    font-size: 11px;
    margin-top: 2px;
    padding: 2px;
}

.ands_green {
    display: block;
    color: #0E774A;
    font-size: 11px;
    margin-top: 2px;
    padding: 2px;
}

.table_nobd {
    width: 100%;
    table-layout: fixed;
    text-align: justify;
    border-collapse: collapse;
}

.links_div {
    padding-top: 2px;
    padding-bottom: 2px;
}

.links_div a {
    width: 50px;
    border: solid 1px #C2C9D7;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #003766;
}

.links_div a:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid 1px #999;
    color: #fff;
    background-color: #006377;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

.mcpop_pmain_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    text-align: center;
    width: 480px;
}

.mcpop_title {
    background: none repeat scroll 0 0 #eff2f7;
    color: #212121;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    height: 22px;
    line-height: 22px;
    text-align: left;
    padding-left: 10px;
}

.mcpop_comments {
    color: #909090;
    display: block;
    font-size: 11px;
    margin-top: 2px;
    padding: 2px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mcpop_field {
    border: 1px solid #E1E8F0;
    text-align: left;
}

.mcpop_input_value {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.mcpop_input_justify {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #858585;
    text-align: justify;
}

.mcpop_out_display {
    border: 1px solid #f4f7fb;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    color: #003766;
}

.radio_opts {
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    margin-top: 10px;
}

.mcpop_bddiv {
    text-align: center;
    padding: 10px;
    height: 22px;
    line-height: 22px;
}

.mcpop_button {
    width: 60px;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #212121;
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    padding-left: 10px;
}

.waiver_button {
    width: 120px;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #212121;
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    padding-left: 10px;
}

.mcpop_ptab {
    border: solid 1px #E1E8F0;
    border-collapse: collapse;
    width: 450px;
}

.license_div {
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    margin-top: 5px;
}

.lInfo_image {
    border: 0 none;
    vertical-align: top;
    margin-top: 3px;
    cursor: pointer;
}

.mcpop_frame {
    width: 100%;
    border: solid 1px #E1E8F0;
}

.license_field {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.license_waiver {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.mcpop_errors {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.mcpop_center {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.mcpop_justify {
    border: 1px dotted #E1E8F0;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    color: #1A2236;
    font-size: 11px;
}

.mcpop_field_row {
    text-align: left;
    padding-left: 20px;
    color: #212121;
}

.mcpop_tab {
    text-align: left;
    border: dotted 1px #E1E8F0;
    border-collapse: collapse;
    font-size: 11px;
}

.mcpop_tab td {
    border-bottom: dotted 1px #E1E8F0;
    border-right: dotted 1px #E1E8F0;
    padding: 2px 10px 2px 10px;
}

.tdbgcolor {
    background: none repeat scroll 0 0 #EFF2F7;
}

.mcpop_divbd {
    background: none repeat scroll 0 0 #eff2f7;
    border: solid 1px #E1E8F0;
    color: #212121;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    height: 22px;
    line-height: 22px;
    text-align: left;
    padding-left: 10px;
}

.mcpop_field2 {
    border-left: 1px solid #E1E8F0;
    border-right: 1px solid #E1E8F0;
    border-bottom: 1px solid #E1E8F0;
    text-align: left;
}

.legalc_select {
    float: left;
    font-family: Arial, Verdana, sans-serif;
    display: inline;
    border: solid 1px #E1E8F0;
}

.legalc_confirm {
    margin-left: 25px;
    font-family: Arial, Verdana, sans-serif;
    margin-right: 10px;
    text-align: justify;
}

.pop_input_field {
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 300px;
    font-size: 12px;
}

.pop_textarea {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: solid 1px #E1E8F0;
    padding: 1px;
    font-size: 12px;
    width: 430px;
    height: 240px;
}

.hasDatepicker {
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #c2c9d7;
    padding: 1px;
    width: 198px;
    font-size: 12px;
}

.grey_div_block {
    color: #909090;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    float: left;
    font-size: 11px;
    font-family: Arial, Verdana, sans-serif;
}

.yellow_div_block {
    color: #c5a463;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
    float: left;
    font-size: 11px;
    font-family: Arial, Verdana, sans-serif;
}

.silver_button {
    width: 60px;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #212121;
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    padding-left: 10px;
}

.silver_b_input {
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #212121;
    background: none repeat scroll 0 0 #eff2f7;
    border-left: solid 1px #E1E8F0;
    border-top: solid 1px #E1E8F0;
    border-right: solid 1px #C2C9D7;
    border-bottom: solid 1px #C2C9D7;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    padding-left: 10px;
}

.rep_license_div {
    text-align: justify;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #858585;
}

.rep_license_div a {
    color: #003766;
    text-decoration: none;
}

.ands_reg_tab_data {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border: dotted 1px #E1E8F0;
    border-collapse: collapse;
}

.ands_reg_tab_data td {
    border-bottom: dotted 1px #E1E8F0;
    border-right: dotted 1px #E1E8F0;
    padding: 3px 5px 4px 10px;
}

.aboutus_div {
    margin: 15px;
    padding: 10px;
    display: block;
    text-align: justify;
    font-size: 12px;
    color: #212121;
}

.aboutus_div a {
    color: #003766;
    text-decoration: none;
    font-weight: bold;
}

.aboutus_div li {
    margin-bottom: 5px;
}

#loading {

}

/** ==== START of Footer Section ==== **/

.site_use_policy {
    margin-left: 165px;
    margin-right: 165px;
    min-width: 1024px;

    border: solid 1px #C0C7D5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.sponsor {
    margin-left: 165px;
    margin-right: 165px;
    min-width: 1024px;
    border: solid 1px #C0C7D5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #C0C7D5;
    -webkit-box-shadow: 0 0 5px #C0C7D5;
    box-shadow: 0 0 5px #C0C7D5;
}

.sponsor_inner {
    display: block;
    text-align: justify;
    color: #858585;
    margin: 10px;
    padding: 10px;
}

.footer {
    margin: 0 auto;
    background: none repeat scroll 0 0 #EFF2F7;
    border-top: 10px solid #003766;
    min-width: 1354px;
}

.copyright {
    color: #000000;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #003766;
    font-weight: bold;
    text-decoration: none;
}

/** ==== END of Footer Section ==== **/

.main_menu_bar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #003766;
    float: left;
    clear: both;
}

.main_menu_bar_center {
    float: left;
    margin-left: 165px;
}

a.main_menu_link, a.main_menu_link:active, a.main_menu_link:link, a.main_menu_link:visited {
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    float: left;
    text-align: center;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #595E7B;
}

a.main_menu_link:hover {
    text-decoration: none;
    background-color: #006377;
    color: #fff;
    height: 30px;
    line-height: 30px;
}

.main_menu_bar_bottom {
    height: 8px;
    background-color: #c1c6cd;
    display: block;
    clear: both;
}